.circuloPerfil{
  width: 110px;
  background-image:linear-gradient( to bottom, #9e36e1 ,var(--color-fondo));
}

.Nombre{
  color:  var(--color-titulos);
  font-family: var(--fuente-titulos);
  font-size: 1.30rem;
  font-weight: 600;
}

.Trabajo{
  color: var(--color-subtitulos);
  font-size: 0.80rem;
  font-family: var(--fuente-titulos);
  margin-top: -0.60rem;
}

.Paneles{
  background-color: var(--color-panel);
}

i {
  color: white;
}

.TituloBrand{
  font-family: var(--fuente-titulos);
  color: var(--color-titulos);
  transition-property: color;
  transition-duration: 0.3s;
  text-decoration: none;
  font-size: 20px;
}

.TituloBrand:hover{
  color:#9e36e1;
}

.TitulosNav {
  margin: 0px 10px;
  text-decoration: none;
  font-family: var(--fuente-titulos);
  color: var(--color-subtitulos);
  transition-property: color;
  transition-duration: 0.3s;
  font-size: 16px;
}

.TitulosNav:hover{
  color:#9e36e1;
}
