#nav-tab{
  background-color: var(--color-panel);
}

.SubTitulos{
  color: var(--color-subtitulos);
  font-size: 0.75rem;
  font-family: var(--fuente-titulos);
  font-weight: 400;
}

.Titulo{
  color: var(--color-subtitulos);
  font-size: 1.25rem;
  font-family: var(--fuente-titulos);
  font-weight: 600;
}


/* Colores de fondo para botones */


.nav-link{
  background-color: red;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited  {
  background-color: #7D0AB3 !important;
  border-color: #7D0AB3 !important;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
  border-color: #7D0AB3 !important;
}
