.circuloPerfil{
  width: 110px;
  background-image:linear-gradient( to bottom, #9e36e1 ,var(--color-fondo));
}

.Nombre{
  color:  var(--color-titulos);
  font-family: var(--fuente-titulos);
  font-size: 1.30rem;
  font-weight: 600;
}

.Trabajo{
  color: var(--color-subtitulos);
  font-size: 0.80rem;
  font-family: var(--fuente-titulos);
  margin-top: -0.60rem;
}

.Titulo{
  color: var(--color-subtitulos);
  font-size: 1.25rem;
  font-family: var(--fuente-titulos);
  font-weight: 600;
}

.Paneles{
  background-color: var(--color-panel);
}

.SubTitulos{
  color: var(--color-subtitulos);
  font-size: 0.75rem;
  font-family: var(--fuente-titulos);
  font-weight: 400;
}